<footer class="footer mt-auto py-5 bg-black">
    <div class="container py-4">
        <div class="row justify-content-md-center">
            <div class="col-sm py-2">
                <h3 class="text-white">Made In Michigan</h3>
                <p class="text-white font-weight-light">We are proud to be developing software and technology here in the Great Lakes State. We strive to provide careers and education for our community and to grow the software industry in the area.</p>
            </div>
            <div class="col-sm py-2">
                <h3 class="text-white">Stay Connected</h3>
                <p class="text-white">For news, announcements and previews of upcoming products, connect with us on <a class="text-white " href="https://discord.gg/F8ucf8d"><u>Discord!</u></a> </p>
            </div>
            <div class="col-sm py-2">
                <h3 class="text-white">Site Navigation</h3>
                <div class="row">
                     <div class="col">
                        <a class="text-light font-weight-light" href="/#about">About</a>
                    </div>
                    <div class="col">
                        <a class="text-light font-weight-light" href="/privacypolicy">Privacy Policy</a>
                    </div>
                </div>
                <div class="row">
                     <div class="col">
                        <a class="text-light font-weight-light" href="/blog/archive">Blog</a>
                    </div>
                </div>
                <div class="row">
                     <div class="col">
                        <a class="text-light font-weight-light" href="/contact">Contact Us</a>
                    </div>
                </div>
                <div class="row">
                     <div class="col">
                        <a class="text-light font-weight-light" href="/jobs">Jobs</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>