.footer {
  position: block;
}

.card {
  border: none;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

.card-footer {
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.btn {
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}

#product-sidebar {
  flex: 0 0 200px;
}

.posts-container {
  max-width: 760px;
}

.bd-masthead {
  padding: 3rem 0;
  background: linear-gradient(165deg, #f7f5fb 50%, #fff 50%);
}

.bd-masthead h1 {
  line-height: 1;
}

.bd-masthead .lead {
  font-weight: 400;
  color: #495057;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

@media (min-width: 1200px)
{
  .bd-masthead h1 {
    font-size: 4rem;
  }

  .bd-masthead .lead {
    font-size: 1.5rem;
  }
}
