---
layout: default
---

<div class="w-100" style="background-image: url(/assets/images/backgrounds/grid.png); background-size: cover;">
    <div class="container">
        <div class="row row-cols-1 row-cols-md-2">
            <div class="col d-flex align-items-center justify-content-center">
                <div class="card services-header-card my-4">
                    <div class="card-body">
                        <h5 class="card-title">{{ page.name }}</h5>
                        <p class="card-text">{{ page.excerpt }}</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <img class="img-fluid" src="{{ page.banner_image }}" alt="">
            </div>
        </div>
    </div>
</div>

<div class="container pb-5 position-relative">
    <div class="row py-5">
        {% assign sections = page.sections %}
        <aside class="col-md-3 d-none d-lg-block" id="product-sidebar">
            <div class="py-3 sticky-top" id="sidebar">
                <img class="rounded-2 shadow mb-3" src="{{ page.featured_image }}" alt="Logo" width=200>
                <ul class="nav nav-pills flex-md-column">
                    <li>
                        <a href="#About" class="nav-link active">About</a>
                    </li>
                    {% for section in sections %}
                    <li class="nav-item py-1">
                        <a href="#{{ section }}" class="nav-link">{{ section }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </aside>
        <main class="col breakdown-container mx-auto px-1">
            <div class="d-lg-none">
                <img class="rounded shadow mx-auto mb-3 d-block" src="{{ page.featured_image }}" alt="Logo" width=300>
                <h1 class="text-center">{{ page.name }}</h1>
            </div>
            <h1 class="d-none d-lg-block mb-3" id="About">{{ page.name }}</h1>
            {{ content }}
        </main>
    </div>
</div>