---
layout: default
---

<div class="container pb-5 position-relative">
    <div class="row py-5">
        {% assign sections = site.product-sections | where: "product", page.name | sort: "order" %}
        <aside class="col-md-3 d-none d-lg-block" id="product-sidebar">
            <div class="py-3 sticky-top" id="sidebar">
                <img class="rounded-2 shadow mb-3" src="{{ page.featured_image }}" alt="Logo" width=200>
                <ul class="nav nav-pills flex-md-column">
                    {% for section in sections %}
                    <li class="nav-item py-1">
                        <a href="#{{ section.title }}" class="nav-link">{{ section.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </aside>
        <main class="col px-5">
            <div class="d-lg-none">
                <img class="rounded shadow mx-auto mb-3 d-block" src="{{ page.featured_image }}" alt="Logo" width=300>
                <h1 class="text-center">{{ page.name }}</h1>
            </div>
            <h1 class="d-none d-lg-block">{{ page.name }}</h1>
            {% for section in sections %}
            <section class="py-4" id="{{ section.title }}">
                <h2 class="pb-3">{{ section.title }}</h2>
                {{ section.content | markdownify }}
            </section>
            {% endfor %}
        </main>
    </div>
</div>